<% @replays.each do |r| %>
  <%= link_to "#{r.replay_file}", "/replays/"+r.id.to_s %>
  <%= link_to "Download", r.replay_file_url %>
<% end -%>


<% @rep = Replay.new %>
<%= form_for(@rep) do |f| %>
  <h1>UPAR NOVO REPLAY</h1>
  <%= f.file_field :replay_file %>
  <%= f.submit %>
<% end -%>
