<h1>Latest Replays</h1>
<% @replays.each do |r| %>
  <h4>
    <%= link_to "#{r.file_name}", "/replays/"+r.id.to_s %>
  </h4>
<% end -%>

<% if current_user && current_user.admin %>
  <%= form_for(@replay) do |f| %>
    <h1>New Replay Upload</h1>
    <h3>
      <%= f.label :file_name, :value => "Name" %><br>
      <%= f.text_field :file_name %>
    </h3>
    <h3>
      <%= f.label :description, :value => "Description" %><br>
      <%= f.text_area :description %>
    </h3>
    <h3><%= f.file_field :replay_file %></h3>
    <h3><%= f.submit "Submit New Replay" %></h3>
  <% end -%>
<% end -%>