<div id="container">
  <div class="section group">  
    <h3>
      <ul>
        <div class="col span_3_of_12">
          <%= link_to 'Home', root_path %>
        </div>
        <div class="col span_2_of_12">
          <%= link_to 'Replays', "/replays" %>
        </div>
        <div class="col span_2_of_12">
          <%= link_to 'Help', help_path %>
        </div>
        <div class="col span_3_of_12">
          <%= link_to 'About', about_path %>
        </div>
        <div class="col span_2_of_12">
          <%= link_to 'News', "/news" %>
        </div>
      </ul>
    </h3>
  </div>
</div>